.scannerwork
serverBuild/server/composer.lock

serverBuild/server/composer.json

clientBuild/client/package-lock.json

clientbuild/client/debug.log
serverBuild/server/.buildpath
serverBuild/server/.project
serverBuild/server/.settings/org.eclipse.wst.validation.prefs
.vscode/settings.json
